.signup {
    color: white;
    background-color: #3882f6;
}

.signup:hover {
    color: white;
    background-color: black;
}

.header {
    overflow: hidden;
    background-color: #1f2937;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: #f9faf8;;
    text-align: center;
    padding: 12 px;
    text-decoration: none;
    font-size: 18 px;
    line-height: 25 px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: #f9faf8;
}

.header a:hover {
    background-color: dodgerblue;
}

.header a.active {
    background-color: dodgerblue;
    color: #e5e7eb;
}

.header-right {
    float: right;
    padding: 5 px 5 px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.container1 {
   
    text-align: left;
    padding: 12 px;
    text-decoration: none;
    line-height: 25 px;
    border-radius: 4 px;
    background-color: #1f2937;
}

.container1header {
    font-size: 48 px;
    font-style: extra-bold;
    color: #f9faf8;
}

.container1p {
    font-size: 18 px;
    color: #e5e7eb;
}

.container1pic {
    float: right;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5 px;
    width: 150 px;
}

.container2 {
    padding: 12 px;
    text-decoration: none;
    line-height: 25 px;
    border-radius: 4 px;
    background-color: teal;   
}

.container2 h2 {
    font-size: 36 px;
    text-align: center;
    font-style: extra-bold;
    color: #1f2937;
}

.flexbox {
    display: flex;
    float: center;
    justify-content: space-evenly;
}

.imgcontainer {
    flex: 33.33%;
    padding: 5 px;
}

.productimg {
    border-radius: 75%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.productimg:container {
    text-align: center;
    padding: 10px 20px;
}

.productimg:hover {
    opacity: 0.75;
}

.container3 {
    color: black;
    padding: 12 px;
    text-decoration: none;
    line-height: 25 px;
    border-radius: 4 px;
    background-color: #e5e7eb;   
}

.quote {
    font-style: light-italic;
    font-size: 36 px;
    text-align: center;
    color: #1f2937;
}

.quoteattribute {
    text-align: right;
    font-style: extra-bold;
    font-size: 12 px;
}

.container4 {
    color: white;
    padding: 12 px;
    text-decoration: none;
    line-height: 25 px;
    border-radius: 4 px;
    background-color: #3882f6;   
}

.containter4 h3 {
    font-size: 12x px;
}

.container4 p {
    font-size: 10 px;
}

.container4 button {
    float: right;
}

.footer {
    color: white;
    padding: 12 px;
    text-decoration: none;
    line-height: 25 px;
    border-radius: 4 px;
    background-color: #1f2937;  
    text-align: center;
} 
