body {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.signup {
    color: white;   
    background-color: #3882f6;
    border-radius: 20px;
    padding: 10px;
}

.signup:hover {
    color: white;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
}


.header {
    background-color: #1f2937;
    padding: 20px 150px;
    overflow: hidden;
}

.header a {
    color: #f9faf8;;
    padding: 12 px;
    line-height: 25 px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    float: left;
}

.header a:hover {
    background-color: dodgerblue;
    color: #e5e7eb;
}

.header a.active {
    background-color: dodgerblue;
    color: #e5e7eb;
}

.header-right {
    float: right;
    padding: 10px;
    color: #e5e7eb;
    font-size: 18 px;
}

.container1 {
    text-align: left;
    line-height: 25 px;
    border-radius: 4 px;
    background-color: #1f2937;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.flexbox1 {
    width: 600px;
       
}

.container1header {
    font-size: 48 px;
    font-style: extra-bold;
    color: #f9faf8;
}

.container1p {
    font-size: 18 px;
    color: #e5e7eb;
    width: 400px;
    
}

.container1 img {
    width: 100px;
    float: right;
    border: 5px solid #ddd;
    border-radius: 8px;

 
}

.container2 {
    padding: 80px;
    border-radius: 4px; 
    background-color: white;

}

.container2 h2 {
    font-size: 36px;
    text-align: center;
    font-style: extra-bold;
    color: #1f2937;
}

.container2 figcaption {
    text-align: center;
}

.flexbox2 {
    display: flex;
    float: center;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px 400px;
}

.imgcontainer {
    padding: 5px;
}

.productimg {
    border-radius: 75%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100px;
    height: 100px;
}

.productimg:container {
    text-align: center;
    padding: 10px 20px;

}

.productimg:hover {
    opacity: 0.75;
}

.container3 {
    color: black;
    border-radius: 4px;
    background-color: #e5e7eb; 
    display: flex;  
    flex-direction: column;
    padding: 20px 500px;
    
}

.quote {
    font-style: italic;
    font-size: 36px;
    text-align: center;
    color: #1f2937;

}

.quoteattribute {
    text-align: right;
    font-style: extra-bold;
    font-size: 20px;
    padding-right: 100px;
}

.container4 {
    color: white;
    padding: 12px;
    border-radius: 4px;
    background-color: #3882f6;   
    display: flex;
    margin: 50px 500px;
    justify-content: space-evenly;
}

.signupcontainer {
    text-align: left;
}
.containter4 h3 {
    font-size: 16px;
}

.container4 button {
  align-self: center
}

.container4 p {
    font-size: 12px;
}

.footer {
    color: white;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #1f2937;  
} 

.footer p {
    text-align: center;
}
